// css file


body {
  background-color: white;
}

.backgroundimg {background-size: cover;
    min-height: 100vh;
    background-image: url("images/download.png");
    background-repeat: no-repeat;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF1192;
    color: black;
    text-align: center;
  }

.header {
  padding: 40px;
  text-align: left;
  background: black;
  margin:30px;
  font-size:20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #FFFDE8;
}

.flex-container .box {
  background-color: #FFFDE8;
  width: 33%;
  margin: 0px;
  padding: 15px;
  text-align: center;
  line-height: flex;
  font-size: 20px;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(font/PlayfairDisplay-VariableFont_wght.ttf);
}

div {
  font-family: PlayfairDisplay;
}

img {
  width: 100%;
}

h1 {
  color: #FF1192;
  font-family: PlayfairDisplay;
}

h2 {
  color: #FFFDE8;
  font-size:15px;
  font-family: sans-serif;
}

h3 {
  color: black;
  font-size: 25px;
  font-family: PlayfairDisplay;
}


p {
  color: black;
  font-family: sans-serif;
}

a {
  color: #E8FEFF;
  font-family: PlayfairDisplay;
}
.button {
  background-color: #FFFDE8;
  border: none;
  color: black;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  }


  main {
      border:  none;
      display:  flex
      width:   500px;
      margin:  20px;
      padding: 10px;}



  .clearfix::after {
        content: "";
        clear: both;
        display: table;
